<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BankingSystemWebServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="BankingSystemWebServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="BankingSystemWebServiceSoap"
                contract="ProxyToBankingSystemWebService.BankingSystemWebServiceSoap" name="BankingSystemWebServiceSoap" />
            <endpoint address="http://webteach_net.hallam.shu.ac.uk/cmsmr2/RemoteWebService.asmx"
                binding="customBinding" bindingConfiguration="BankingSystemWebServiceSoap12"
                contract="ProxyToBankingSystemWebService.BankingSystemWebServiceSoap" name="BankingSystemWebServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>